@media all and (max-width: 480px) {

  .gallery-image {
    width: 100px;
    margin: 0;
    border: none;
  }
  img {
    width: 100px;
  }
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 1200px) {

}

.gallery-image {
  float: left;
  height: 300px;
  width: 300px;
  margin: 15px;
  background-size: cover;
  border: 5px solid pink;
}

img {
  width: 300px;
}
.main {
  width: 900px;
  margin: 0 auto;
}
