body {
  background-image: url(images/IMG_1177.JPG);
  font-family: Georgia;
  line-height: 2em;
}

h1 {
  color: hotpink;
  font-size: 35px;
  text-align: center;
}

p {
  font-size: 20px;
}

nav {
  background-color: white;
  width: 100%;
  padding: 20px;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

li {
  float: left;
  margin-right: 85px;
}

a {
    color: pink;
    text-decoration: none;
}

.clearfix {
  clear: both;
}

span {
  text-transform: uppercase;
  color: hotpink;
}
.main-content {
  background-color: white;
  padding-left: 37px;
  padding-right: 37px;
  max-width: 724px;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.divider {
  margin-top: 10px;
  border-top: 2px solid #F582C7;
}

.button {
  padding: 20px;
  border-radius: 30px;
  background-color: hotpink;
  color: white;
  display: inline-block;
  margin: 50px 300px;
}
